<!DOCTYPE html>
<html>
  <head>
    <title>Dischord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.auth-background = "<%= image_url('auth-background.jpg') %>";
    </script>

    <% if current_user %>
      <script>
        window.currentUser = {
          id: <%= current_user.id %>,
          username: '<%= current_user.username %>',
          usertag : <%= current_user.usertag %>
        }
      </script>
    <% end %>
    <link rel="shortcut icon" type="image/svg" href="assets/favicon.svg">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
